*{
    background-color: rgb(0, 0, 0);
    color:white;
    margin: 0;
    padding: 0;
    
   
}

form h2 {
    margin: 20px;
    text-align: center;
    font-weight: 400;
}
/* form{
    border: 2px solid ;
    padding-left: 10%;
    padding-RIGHT: 10%;
    height: 400px;
    width: 300px;
    margin: 20px;
    padding-bottom: 20px;

} */

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    border: 1px solid lightblue;
    border-radius: 20px;
}

 input{
    margin: 20px;
    font-size: 15px;
    padding: 10px;
    width: 200px;
    border: 1px solid rgb(129, 218, 247);
    border-radius: 7px;
}
button{
    border: 2px solid blue;
    border-radius:10px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}
.form-groups{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}
h2{
    text-align: center;
    margin: 20px;
}
#student-list{
    text-align: center;
    border: 2px solid  blue;
}

.delete-btn{
    position: absolute;
    right: 10px;
    top: 10px;
    background: red;
    color: white;
    border: none;
    padding: 5px 8px;
    cursor: pointer;
    border-radius: 3px;
}